@import "../valo/valo.scss";


/*Kell, hogy leszedjük a radió dzsombokat*/
@mixin valo-radiobutton-style($background-color: $v-background-color, $unit-size: $v-unit-size, $selection-color: $v-selection-color){ 
  @include valo-checkbox-style($background-color: $background-color, $unit-size: $unit-size, $selection-color: $selection-color);

  :root & > input {
    &:checked ~ label:after {
	    height:100px;
	    width:100px;
      	opacity:0;
    }
    
    & ~ label:before,
    & ~ label:after {
	    height:100px;
	    width:100px;
      	opacity:0;
    }
  }
}


$v-app-background-color: #000000;

@mixin mytheme{
    @include valo;
    
    ::-webkit-scrollbar {
   		 width: 10px;
	}
 
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); 
	    border-radius: 5px;
	}
	 
	::-webkit-scrollbar-thumb {
	    border-radius: 5px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	    background: grey; 
	}
	    
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    /*Cursor mindennek, mindenkinek, radiobutton még nem, de ott reformok kellenk, összevont css, meg a java kódban hozzáadni a képet*/
    .v-layout, .v-textarea{
    	cursor: url(pictures/cursor_open.gif), auto;
    }
    .party-karakter, .v-textfield, .v-button, .v-window-header, .v-Notification,
     .v-window-outerheader, .v-window-closebox, .v-radiobutton, .windowok{
     	cursor: url(pictures/cursor.gif), auto !important;
    }
	.v-textfield:active, .v-button:active, .v-layout:active, .v-textarea:active, .v-radiobutton:active,
	.v-window-header:active, .v-window-outerheader:active, .v-window-closebox:active, .v-Notification:active,
	.windowok:active{
		cursor: url(pictures/cursor_down.gif), auto !important;
	}
	.v-window-draggingCurtain, .v-window-draggingCurtain:active{ /*az interneten erről nem olvasni...*/
		cursor: url(pictures/cursor_fist.gif), auto !important;
	}
	
	.v-button:focus {outline:0;}
	
	.buttonee{
		box-shadow:none;
		height:80px;
		color:white;
		font-size:20px;
		border: none;
		background: url(pictures/buttons.png);
		background-size:100% 100%;
	}
	
	.buttonee:hover{
		background: url(pictures/buttons-hover.png);
		background-size:100% 100%;
		outline:0;
	}
	
	.buttonee:active{
		background: url(pictures/buttons-offline.png);
		background-size:100% 100%;
		outline:0;
	}
	
	.buttonee:focus {outline:0;}
	
	.v-textarea{
		//background: url(pictures/hatter.png);
  		//background-size: cover;
  		background: transparent;
		border-radius: 10px;
  		border: 2px solid gray;
		color:white;      
	}
	
	.v-panel{
		//background: url(pictures/hatter.png);
  		//background-size: cover;
  		background: transparent;
		border-radius: 5px;
  		border: 1px solid gray;
		color:white;
	}
	
	.v-label, .v-captiontext{
		color: white;
	}
	
	/*Tooltip hóka móka lolka folka dolka*/
	.v-tooltip {
        background-color: rgba(0,0,0,0.95);
        border: 1px solid gray;
        //border-top-color: #d5d2c1;
        //border-left-color: #d5d2c1;
        //font-size: 11px;
        //font-family: arial, helvetica, tahoma, verdana, sans-serif;
        color: white;
        max-height:none !important;
        width:300px;
    }
    .v-tooltip-text {
        //padding: 2px 4px;
        //border: none;
        //border-top: 1px solid #fffef5;
        //border-bottom: 1px solid #fbf8d9;
        max-height:none !important;
    }
    .v-tooltip .v-errormessage {
        //padding: 3px 4px 3px 4px;
        //background: #ffecc6;
        //color: #b74100;
        //border: none;
        //border-top: 1px solid #fff3dc;
        //border-bottom: 1px solid #ead7b1;
        max-height:none !important;
    }
	
	/*A lap tetjén a csík, amikor tölt be*/
	.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait{
		background-color: black;
		border: 1px solid grey;
	}
	
	/*Rádió gombnak kell*/
	.v-radiobutton{
		padding-left:0px !important;
		line-height: 0px !important;
	}
	
	/*A kijelölt rádiógomb*/	
	.v-radiobutton input[type=radio]:checked+label {
		box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
	}
	
	/*Elvileg a betöltés alatti kép, de nem megy jelenleg. Korábban már ment.*/
	.v-generated-body .v-app .v-app-loading { 
		height: 100%; 
		width: 100%;
		background: url(pictures/loading.png) no-repeat;
		background-size: cover;
		//background-position: 50%;
	}
	
	/*Itemhez háttér layout*/
	.item-hatter{
		background: url(pictures/slot.png) no-repeat;
		background-size: 100% 100%;
	}
	
	.karakterlap-grid.v-gridlayout{
		padding: 3px;
	}
  	
  	/*Az egész layout, majd a label amiben van a videó, majd a videó*/
  	.fullscreen-layout {
		position: fixed;
	    top: 0;
	    right: 0;
	  	bottom: 0;
	    left: 0;
	    overflow: hidden;
	}	
	.fullscreen-video-label {
		/*background: url(pictures/loading.png) no-repeat;
	    background-size: cover;
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;*/
	   	z-index: -100; 
	}	
	#fullscreen-video{
  		position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
		-webkit-transform: translate(-51.8%, -50%);
		-moz-transform: translate(-51.8%, -50%);
		-ms-transform: translate(-51.8%, -50%);
		transform: translate(-51.8%, -50%);
  	}
  	
  	.fullscreen-kep-label{
  		z-index: -100;
  		background: url(pictures/full-hatter.jpg) no-repeat;
	    background-size: cover;
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	   	z-index: -100;
  	}
  	
  	
	/*Karakter kreáláshoz a különböző osztályok, mókák, vadulások*/

	#ferfi{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	#no{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	
  	#faj1{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	#faj2{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	#faj3{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	#faj4{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
	
	#osztaly1{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	#osztaly2{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	#osztaly3{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	#osztaly4{
  		height: 100px;
  		width: 100px;
  		background: url(pictures/crest.png) no-repeat;
  		background-size: cover;
  	}
  	
  	/*WindowokLOL*/
  	.windowok{
  		background: url(pictures/hatter.png);
  		background-size: cover;
  		box-shadow: 0px 0px 15px 7px rgba(101,103,128,1);
  		//box-shadow: 0px 0px 42px 8px rgba(71,46,16,0.79);
  		border: 20px solid black;
  		border-image: url(pictures/keret.png) 30 round;
 		border-image-outset: 0.5;
  	}
  	.v-window-contents > .v-scrollable:before{
  		border-top:0px !important;
  	}
  	.v-window-outerheader:after{
  		border-top:0px !important;
  	}
  	.v-window-closebox{
  		background-color: transparent !important;
  	}
  	.v-window-header{
  	color: white !important;
  	}
  	
	/*Középrehelyezett form*/  	
  	.login-form{
  		background: url(pictures/hatter.png);
  		background-size: cover;
  		border: 30px solid black;
  		border-image: url(pictures/keret.png) 30 round;
 		border-image-outset: 0.5;
  		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50% , -50%);
		-moz-transform: translate(-50% , -50%);
		-ms-transform: translate(-50% , -50%);
		transform: translate(-50% , -50%);
  	}
  
  	
  	/*Teszt csak, alfa verzió*/
  	.belepes{
  		background: rgb(0, 0, 0);
        //background: rgba(0, 0, 0, .95);
        box-shadow: 0px 0px 100px 60px #000000;
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		
		-webkit-animation: elotunes 2s, move 4s forwards, glowing 2s linear infinite; 
		-moz-animation:    elotunes 2s, move 4s forwards, glowing 2s linear infinite; 
		-o-animation:      elotunes 2s, move 4s forwards, glowing 2s linear infinite; 
		animation:         elotunes 2s, move 4s forwards, glowing 20s linear infinite; 	
		
  	}
  	
  	/*Közös animáció az előtűnéshez*/
  	.kozos{
  		-webkit-animation: elotunes2 8s; 
		-moz-animation:    elotunes2 8s; 
		-o-animation:      elotunes2 8s; 
		animation:         elotunes2 8s;
  	}
  	
  	/*mainpage középső része*/
  	.kozep{
  		//background: rgb(30, 30, 200);
  	}
  	
  	/*mainpage középen megjelenő ablaka, elvileg nincs rá szükség*/
  	.kozep-ablak{
  		//-webkit-animation: elotunes2 4s; 
		//-moz-animation:    elotunes2 4s; 
		//-o-animation:      elotunes2 4s; 
		//animation:         elotunes2 4s;
  		z-index:+10;
  		background: rgb(101, 200, 190);
  		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50% , -50%);
		-moz-transform: translate(-50% , -50%);
		-ms-transform: translate(-50% , -50%);
		transform: translate(-50% , -50%);
  	}
  	
  	/*mainpage alsó része*/
  	.also{
  		//background: rgb(200, 100, 120);
  		//position: fixed;
  		//bottom: 0px;
  	}
  	.action-bar{
  		background: url(pictures/hatter.png);
  		background-size: cover;
  	}
  	
  	
  	.actionbar-kep{
  		/* background: url(pictures/loading.png) no-repeat;
  		//background-size: cover;
  		position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%); */
  	}
  	
  	/*action-bar*/
  	.actionbar-kep-bal{
  		background: url(pictures/griffon.png) no-repeat;
	    background-size: 100% 100%;
	    margin-right:-50px;
  	}
  	
  	.actionbar-kep-jobb{
  		background: url(pictures/griffon.png) no-repeat;
	    background-size: 100% 100%;
	    -moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
		margin-left:-50px;
  	}
  	
  	/*Technikailag a középső része*/
  	.also-menu{
  		position:fixed;
  		right:0;
  		bottom:0;
  		z-index: +5;
  	}
  	
  	/*mainpage felső része*/
  	.party{
  		//background: rgb(10, 100, 10);
  	}
  	
  	.party-karakter{
  		margin-top: 5px;
  		margin-right: 20px;
  		margin-left: 5px;
  	  	opacity: 0.5;
  		background: rgb(34,65,100);
  		border-radius: 10px;
  		border: 2px solid #000000;
  	}
  	
  	.aktiv-karakter{
  		box-shadow: 0px 0px 22px 7px rgba(101,103,128,1);
  		opacity: 1;
  		border-radius: 5px;
  		border: 2px solid black;
  	}
  	
  	.party-karakter:hover{
  		box-shadow: 0px 0px 22px 7px rgba(101,103,128,1);
  		opacity:1;
  	}
  	
  	.profil-kep {
  		border-radius: 5px;
  		border: 1px solid black;
  		background: url(pictures/asdasd.gif) no-repeat;
  		background-size: cover;
  	}
  	
  	.ellenfel-harc-kep {
  		border-radius: 5px;
  		border: 1px solid black;
  		background: url(pictures/gifs/lo.gif) no-repeat;
  		background-size: cover;
  	}
  	
  	/*.v-progressbar, v-progressbar-indeterminate {color:red;}
  		.v-progressbar-wrapper {color:red;}
    		.v-progressbar-indicator {color:red;}*/
  	
  	.elet-csik .v-progressbar-wrapper, .mana-csik .v-progressbar-wrapper {
  		height:100%;
	    width: 100%;
  	}
  	.elet-csik .v-progressbar-indicator, .mana-csik .v-progressbar-indicator {
  		height:100%;
	    width: 100%;
  	}
  	
  	.elet-csik .v-progressbar-indicator{
  		background: url(pictures/Eletek/healthbarzold.png);
  		background-size: 100% 100%;
  		border-radius: 2px 5px 2px 2px;
  	}
  	
  	.elet-csik .v-progressbar-wrapper{
  		background: url(pictures/Eletek/ures.png);
  		background-size: 100% 100%;
  		border-radius: 2px 5px 2px 2px;
  	}
  	
  	.mana-csik .v-progressbar-indicator{
  		background: url(pictures/Eletek/mana.png);
  		background-size: 100% 100%;
  		border-radius: 2px 2px 5px 2px;
  	}
  	
  	.mana-csik .v-progressbar-wrapper{
  		background: url(pictures/Eletek/ures.png);
  		background-size: 100% 100%;
  		border-radius: 2px 2px 5px 2px;
  	}
  	
  	.exp-bar .v-progressbar-indicator{
  		background: url(pictures/Eletek/expbar.png);
  		background-size: 100% 100%;
  	}
  	
  	.exp-bar .v-progressbar-wrapper{
  		background: url(pictures/Eletek/ures.png);
  		background-size: 100% 100%;
  	}
  	
  	.szoveg-csik {
  		font-size:100%;
  		text-align: right;
  	}
  		
  	
	/*.flashing-label{
	  text-align:center;
	  font-size:120px;
	  color:#000;
	  letter-spacing: -7px;
	  font-weight:700;
	  text-transform:uppercase;
	  animation: blur 1s ease-out;
	  text-shadow:0px 0px 5px #000, 0px 0px 7px #000;
	}*/
}

	/*@media screen and (max-device-width: 840px) {		
  		.flashing-label {  color:blue; }
	}*/
  		
	/*@keyframes blur{
	  	from{
	      text-shadow:0px 0px 10px #000,
	      0px 0px 10px #000, 
	      0px 0px 25px #000,
	      0px 0px 25px #000,
	      0px 0px 25px #000,
	      0px 0px 25px #000,
	      0px 0px 25px #000,
	      0px 0px 25px #000,
	      0px 0px 25px #000,
	      0px 0px 25px #000,
	      0px 0px 50px #000,
	      0px 0px 50px #000,
	      0px 0px 50px #000,
	      0px 0px 50px #2B3440,
	      0px 0px 150px #2B3440,
	      0px 10px 100px #2B3440,
	      0px 10px 100px #2B3440,
	      0px 10px 100px #2B3440,
	      0px 10px 100px #2B3440,
	      0px 10px 100px #2B3440,
	      0px 10px 100px #2B3440,
	      0px -10px 100px #2B3440,
	      0px -10px 100px #2B3440;}
	}*/
	
	@-webkit-keyframes elotunes {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-moz-keyframes elotunes {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-o-keyframes elotunes {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@keyframes elotunes {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	
	
	@-webkit-keyframes move {
		from {top: 100%;}
   		to {top: 40%;}
	}
	@-moz-keyframes move {
		from {top: 100%;}
   		to {top: 40%;}
	}
	@-o-keyframes move {
		from {top: 100%;}
   		to {top: 40%;}
	}
	@keyframes move {
		from {top: 100%;}
   		to {top: 40%;}
	}
	

	@-webkit-@keyframes elotunes2 {
	  0%   { opacity: 0; }
	  //50%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-moz-@keyframes elotunes2 {
	  0%   { opacity: 0; }
	  50%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-o-@keyframes elotunes2 {
	  0%   { opacity: 0; }
	  //50%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@keyframes elotunes2 {
	  0%   { opacity: 0; }
	  //50%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	
	
	@keyframes glowing {
		0%, 100% {
			box-shadow: 0px 0px 100px 60px #000000;
		}
		50% {
			box-shadow: 0px 0px 110px 60px #000000;
		}
	}
	 
	